<p>
  <strong>Motif :</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Raison :</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Edit', edit_article_comment_path(@article) %> |
  <%= link_to 'Supprimer Commentaire', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
