<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label 'Motif' %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label 'Raison' %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
