<h1>Listing commentaires</h1>

<table>
  <tr>
    <th>Motif</th>
    <th>Raison</th>
    <th colspan="2"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><strong><%= article.commenter %></td></strong>
      <td><%= article.body %></td>
    </tr>
  <% end %>
</table>
