<h1><%= link_to 'Liste des Tâches', controller: 'articles' %> | <%= link_to 'A propos', controller: 'pages' %></h1>

<table>
  <tr>
    <th>Titre</th>
    <th>Description</th>
    <th colspan="2"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><strong><%= article.title %></td></strong>
      <td><%= article.text %></td>
      <td><%= link_to 'Plus en détails', article_path(article) %></td>
      <td><%= link_to 'Modifier', edit_article_path(article) %></td>
      <td><%= link_to 'Supprimer', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure ?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Créer Tâche', new_article_path %>
