<h1>Tâche plus en détail</h1>

<p>
  <strong>Titre :</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description :</strong>
  <%= @article.text %>
</p>

<%= link_to 'Modifier', edit_article_path(@article) %> |
<%= link_to 'Retour', articles_path %>

<h2>Commentaire(s)</h2>
<%= render @article.comments %>

<h2>Ajouter un commentaire :</h2>
<%= render 'comments/form' %>
