<h1><%= link_to 'Liste des Tâches', controller: 'articles' %>
 | <%= link_to 'A propos', controller: 'pages' %></h1>

<p>

  Powder gummies topping gummies topping sweet lollipop sesame snaps chocolate cake. Bear claw gummi bears chupa chups topping I love lollipop jelly beans chocolate pudding. Bonbon I love carrot cake marshmallow chupa chups tart cake icing. Brownie I love jelly jujubes. Cookie lollipop chocolate jujubes. I love cookie apple pie I love sesame snaps chocolate. Halvah topping ice cream I love apple pie lollipop dessert. Lemon drops marzipan jujubes toffee dragée powder caramels caramels jelly-o. Chocolate lemon drops biscuit soufflé danish bear claw. Marzipan fruitcake I love. Candy dragée bear claw jelly-o gummi bears marzipan. Topping halvah halvah I love sesame snaps. Tiramisu candy canes sweet roll liquorice chocolate bar wafer.
Chocolate cake liquorice pie I love chocolate cake wafer I love. Chocolate cake toffee pudding dessert biscuit cotton candy lollipop. Marzipan gummies lemon drops jelly-o chupa chups muffin jelly candy canes. Sesame snaps caramels gummi bears pudding dessert. Dragée brownie apple pie danish danish I love caramels. Lollipop bear claw jelly lollipop jelly bonbon brownie brownie I love. Jujubes cake jelly-o caramels gingerbread. I love bear claw sweet roll fruitcake chocolate bar fruitcake. Jujubes marshmallow I love I love fruitcake pudding halvah sesame snaps halvah. Bonbon wafer apple pie gummies chocolate bar wafer. Pie lemon drops cupcake liquorice caramels cheesecake jujubes. Apple pie gummies sweet jelly-o topping.
Sweet roll topping jelly beans sweet pie I love muffin sesame snaps. Sugar plum tootsie roll icing apple pie tiramisu toffee. Biscuit chocolate caramels. Marzipan I love sesame snaps chupa chups chocolate bar chupa chups apple pie carrot cake. Cheesecake jelly beans macaroon I love carrot cake wafer sweet. Topping tart I love cookie I love. Jelly-o marshmallow icing. Jelly bonbon donut powder I love soufflé dessert oat cake jujubes. Croissant cheesecake icing croissant. Soufflé cookie gummi bears. Chocolate donut muffin cake cheesecake dragée bonbon. Jelly cookie pudding danish macaroon. Bonbon macaroon croissant chocolate lollipop cookie tart wafer.
I love carrot cake I love I love pudding lollipop tootsie roll. Powder macaroon sesame snaps jelly marzipan chocolate. Macaroon pastry caramels toffee liquorice I love. Macaroon chocolate bar biscuit tootsie roll caramels sweet roll toffee bear claw. Dessert jujubes I love liquorice lollipop I love. Dessert brownie sweet roll icing. I love I love candy canes jelly bonbon tart ice cream. Lollipop gingerbread I love. Candy canes I love chupa chups. Ice cream halvah topping cupcake I love carrot cake. Dessert apple pie dessert caramels muffin. I love fruitcake jelly beans. Biscuit marzipan sesame snaps chocolate cake. Caramels tart sweet cookie marshmallow.
Jelly-o jelly topping marzipan chocolate cake liquorice bear claw fruitcake. Dragée candy canes candy canes I love halvah wafer macaroon. I love candy chocolate macaroon chocolate cake soufflé cupcake marshmallow pie. Cotton candy gummi bears lemon drops lollipop. Wafer lemon drops cookie cake soufflé ice cream marzipan I love cotton candy. Sugar plum bonbon lollipop muffin liquorice jujubes chocolate cake. Apple pie dessert tootsie roll chocolate cake. Cookie jelly-o chocolate cake. Chocolate bar pie I love jujubes. I love lemon drops oat cake carrot cake I love powder topping cookie. Sweet roll bear claw cake lollipop. Sesame snaps tootsie roll pudding donut cupcake sugar plum caramels. Lollipop croissant biscuit bear claw cotton candy.
</p>

<%= link_to 'Retour', articles_path %>
