<!DOCTYPE html>
<html>
  <head>
    <title>PartielRuby</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="color:black; font-family:Avenir; font-size: 1.5em; background-color:#EBECEB;">
    <div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-9">
      <%= yield %>
    </div>
  </div>
</div>
  </body>
</html>
